body {
  width: 1500px;
  margin: 0 auto;
  font-family: sans-serif;
  font: 14px sans-serif;
}

h1 {
	font-weight: bold;
}

header {
	width: 100%;
	background-color: #EFEAEA; 
 font: 32px sans-serif;
 font-weight: bolder;;
}

header p {
	font-size: 16px;
	font-weight: normal;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
}

.tweet_line_text {
	font: 10px sans-serif;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

#chloroJSON{
	display: none;
}

#linegraph_svg {
	border-style: none;
}

#barchart_svg {
	border-style: none;
	border-width: 5px;
	position: relative;
	top: -800px;
	right: -600px;
}

#barchart_header{ 
	position: relative;
	top: -875px;
	right: -600px;
}

.tooltip_div {
	font: 20px sans-serif;
}

.tooltip_circle {
	cursor: pointer;
}

.barchart_bar {
	fill: steelblue;
}


#sterms span {
	cursor: pointer;
}

.vulgar{
	color:blue;
}

.control{
	color:orange;
}

.norm{
	color:green;
}