body {
  margin: 0 auto;
  font-family: sans-serif;
  font: 14px sans-serif;
}

#splash {
    position: fixed;
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    border: solid;
    background-color: white;
    z-index: 100;
    height: 450px;
    width: 60%;
    box-shadow: 10px 10px 5px #888888;
}

#splash .page-header {
	margin-left: 20px;
	margin-right: 20px;
}

#splash .question_list {
	margin-left: 20px;
	margin-right: 20px;
}

#splash .navbar-inner {
	margin: 10px;
	cursor: pointer;
}

#splash .explore_question {
	font-weight: bold;
	font-style: italic;
}

h1 {
	font-weight: bold;
}

header {
	width: 100%;
	background-color: #EFEAEA; 
 font: 32px sans-serif;
 font-weight: bolder;;
}

header p {
	font-size: 16px;
	font-weight: normal;
}


.container{
	margin-left:0px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
}

.tweet_line_text {
	font: 10px sans-serif;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

#chloroJSON{
	display: none;
}

#linegraph_svg {
	border-style: none;
}

.tooltip_div {
	font: 20px sans-serif;
}

#timeline .tooltip_circle {
    cursor: pointer;
}

#sterms span {
	cursor: pointer;
}

 #geo_tab{
	/* width: 3000px; */
} 
/* #mapDiv{
	height: 750px;
	width: 3000px;
} */

#mapTimeline{
	/* Option to move the timeline over. Decided I liked it better flush with nav tabs*/
	/* margin-left: 250px; */
}

/* Has to be large enough to accomodate the map but enforce scrolling when the window is small */
.span12{
	 width: 1700px;
	 position:absolute;
	 left:250px;
}

.btn-group{
	width:100%;
}

.mapParams{
	display:none;
}

.vulgar{
	color:blue;
}

.control{
	color:orange;
}

.norm{
	color:green;
}

.counties {
  fill: none;

}

.states {
  fill: none;
  stroke-linejoin: round;
  stroke: #fff;
}

.q0-9 { fill:grey; } 
/* .q0-9 { stroke:black; fill:rgb(247,251,255); } */
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }