body {
  width: 1500px;
  margin: 0 auto;
  font-family: sans-serif;
  font: 14px sans-serif;
}

h1 {
	font-weight: bold;
}

header {
	width: 100%;
	background-color: #EFEAEA; 
 font: 32px sans-serif;
 font-weight: bolder;;
}

header p {
	font-size: 16px;
	font-weight: normal;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
}

.tweet_line_text {
	font: 10px sans-serif;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

#chloroJSON{
	display: none;
}

#linegraph_svg {
	border-style: none;
}

/*#barchart_svg {
	border-style: none;
	border-width: 5px;
	position: relative;
	top: -800px;
	right: -600px;
}*/

/*#barchart_header{ 
	position: relative;
	top: -875px;
	right: -600px;
}*/

.tooltip_div {
	font: 20px sans-serif;
}

.tooltip_circle {
}


#sterms span {
	cursor: pointer;
}

.vulgar{
	color:blue;
}

.control{
	color:orange;
}

.norm{
	color:green;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke-linejoin: round;
  stroke: #fff;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }